body
{
	background-image: url(img/background.png);
	margin: 0px;
}

#all
{
	width: 960px;
	margin: 0 auto;
	position: relative;
}

#btn_top
{
	position: absolute;
	right: 45px;
}

#accueil
{
	position: absolute;
	left: 85px;
}

#accueil img
{
	cursor: pointer;
}

.accueil
{
	cursor: pointer;
}

#btn_top img
{
	vertical-align: top;
	position: relative;
	cursor: pointer;
}

.content
{
	width: 960px;
	margin: 0 auto;
}

.content .accueil
{
	padding-top: 20px;
}

#carton
{
	position: relative;
	width: 500px;
	height: 577px;
	margin: 0 auto;
	right: 25px;
}

#lecarton
{
	position: absolute;
	z-index: 15;
}

#envlp
{
	position: absolute;
	top: 150px;
	left: 60px;
	z-index: 10;
}

#envlp_on
{
	position: absolute;
	z-index: 20;
	top: 310px;
	left: 95px;
}

#carton .content_carton img
{
	margin-left: 120px;
}

#contact, #conditions, #subscribe
{
	display: none;
}

#carton .content_carton
{
	position: relative;
	z-index: 25;
	font-family: "Myriad pro";
	font-size: 15px;
	width: 448px;
	padding: 25px 0px 0px 22px;
}

#carton .content_carton a
{
	color: black;
	font-weight: bold;
}

#carton .content_carton .accueil
{
	padding-top: 50px;
}

#conditions p
{
	text-align: center;
}

#conditions .desin
{
	cursor: pointer;
	text-decoration: underline;
}

#contact p
{
	text-align: center;
}

#contact input:first-of-type
{
	margin-left: 115px;
}

#subscribe p
{
	text-align: center;
}

#subscribe input
{
	margin-left: 115px;
}

#contact2
{
	position: fixed;
	right: 5px;
	bottom: 5px;
	cursor: pointer;
	opacity: 0.4;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
}

#contact2:hover, #how:hover
{
	opacity: 1;
}